@{
    Layout = "_ExtLayout";
    ViewData["Title"] = "Login Failure";
    <link rel="stylesheet" href="~/css/jumbotron-narrow.css" />
}

<header>
    <h2>@ViewData["Title"].</h2>
    <p class="text-danger">Unsuccessful login with service.</p>
</header>
