@{
    
    ViewData["Title"] = "Confirm Email";
    <link rel="stylesheet" href="~/css/jumbotron-narrow.css" />
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email. Please <a href="/signin">Click here to Log in</a>.
    </p>
</div>
