@model string

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-controller="Account" asp-action="Manage" title="Manage">Welcome, @User.Identity.Name</a>
        </li>
        <li>
            <a href="/signout">Log off</a>
        </li>
    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="Account">Your Account<span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="Your Account">
                <li class="divider"></li>
                <li><a href="/signin">Log in</a></li>
                <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                <li><a asp-controller="Account" asp-action="ForgotPassword">Forgot your password?</a></li>
            </ul>
        </li>
    </ul>
}